.trans-border{
    background-color: rgb(27, 190, 255);
    height: 5vh;
    
    border-style: solid;
    border-color:rgb(255, 179, 227);
    position:absolute;
    
    width:100%;
    z-index: 10;
}
header{
    border-width: 0 0 5vh 0;
    top:0;
     
}
footer{
    border-width: 5vh 0 0 0;
    bottom:0;
      
}


.sidebar{

    width:100%;
    position: absolute;
    grid-column: auto / span 2;
    left:-101%;
    transition: transform 1s; 
    height: 94%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(230, 230, 230);
    padding-top: 5vh;
    overflow-y: auto;
    z-index:5;
    box-shadow: rgb(85 85 85 / 37%) 5px 5px 4px; 
    
}

.sidebar-item{
    display: flex;
    border-style:solid;
    border-color: rgb(209, 209, 209);
    border-width: 1px 0px;
    padding-left: 20px;
    align-items: center;
    padding: 10px 20px 10px;
}

.sidebar-item-icon{
    height: 1.5em;
}

.sidebar-item-text{
    margin: 8px;
}

.sidebar-tab{

    display:flex;
    transition: transform 1s; 
    flex-direction: row;
    position: absolute;
    height: 35px;
    width: 60px;
    bottom: 11vh;
    background-color: rgb(230, 230, 230);
    left: -2%;
    border-radius: 0 10px 10px 0;
    z-index:6;
    box-shadow: rgb(85 85 85 / 37%) 5px 5px 4px; 
}



.sidebar-tab-icon{

    height: 1.3em;
    align-self: center;
    margin-left: 35px;
    
}

.sidebar-open{
        
    transform: translateX(101vw);

}


body{
    margin:0;
    background-color:  rgb(27, 190, 255);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    
}

#wrapper{
    position:relative;
    overflow: hidden;
}


.main-div{

    display:block;
    

    background-color: white;
    height:80.2vh;
    margin: 9vh 0px 10vh 0px;
    grid-template-columns: 285px auto;
    grid-template-rows: 100%;

}
.content{
    overflow: auto;
    overflow-y: auto;
    margin: 0px 8px;
    height:99%;
    padding-top:1vh;
    
}



@media only screen and (min-width: 600px) {

    .sidebar{
        
        grid-column: auto;
        position: relative;
        left:0;
        

    }
    .main-div{
        display:grid;
    }
    .sidebar-tab{display:none;} 
    

}

